body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #CBF0F8;
    font-family: 'Arial', sans-serif;
}


#quote-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #c7f9cc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#quote-text {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

#quote-author {
    font-size: 16px;
    color: #666666;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}